@inject NavigationManager NavManager
@using BlazorChatApp.BLL.Infrastructure.Interfaces
@using Blazored.LocalStorage
@using BlazorChatApp.BLL.Helpers
@using BlazorChatApp.BLL.RequestServices.Interfaces
@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject IRequestUserService RequestUserService
@inject ILocalStorageService localStorage
@inject IToastService ToastService
<link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet"/>
<link href="https://stackpath.bootstrap.com/font-awasome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<PageTitle>BlazorChatApp</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main>
        <div class="top-row px-4">
            <p>@notification</p>
            @if (status)
            {
                <NavLink class="nav-link" @onclick="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
                <NavLink class="nav-link" href="/profile">
                    <span class="oi oi-document" aria-hidden="true"></span> Profile
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                </NavLink>
                <NavLink class="nav-link" href="register">
                    <span class="oi oi-pencil" href="/register" aria-hidden="true"></span> Register
                </NavLink>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.TopRight" IconType="IconType.Material" Timeout=7 ShowProgressBar="true" />

@code
{
    private bool status;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var userIsAuthed = await localStorage.GetItemAsync<string>("token");
       
        if (userIsAuthed == null)
        {
            status = false;
            StateHasChanged();
        }
        else
        {
            status = true;
            StateHasChanged();
        }
    }

    private string notification = "";
    protected async Task Logout()
    {
        if (TokenHolder.Token == null)
        {
            NavManager.NavigateTo("/login");
        }
        ToastService.ShowSuccess("You are log out!");
        ToastService.ShowInfo("Log in to continue chatting!");
        await AuthService.LogOutAsync();
    }
}