@inject NavigationManager NavManager
@using BlazorChatApp.BLL.Infrastructure.Interfaces
@inherits LayoutComponentBase
@inject IAuthService AuthService
<PageTitle>BlazorChatApp.PL</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
          <p>@notification</p>
            <AuthorizeView>
                <Authorized>
                    <h1 >Hello, @context.User.Identity?.Name!</h1>
                    <a class="nav-link" onclick="LogoutAsync">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </a>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </NavLink>
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-pencil" href="/register" aria-hidden="true"></span> Register
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>


        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    private string notification = ""; 
    public async Task LogoutAsync()
    {
        try
        {
            await AuthService.LogOutAsync();
            NavManager.NavigateTo("/login");
        }
        catch
        {
            notification = "Logout was failed!";
        }
       
    }

  }
