@page "/chats"
@*@attribute [Authorize]*@
@using Blazored.LocalStorage
@using BlazorChatApp.BLL.Contracts.DTOs
@using BlazorChatApp.BLL.Infrastructure.Interfaces
@inject ILocalStorageService StorageService
@inject BLL.Infrastructure.Interfaces.IAuthorizationService Authorization
@inject LoginDto LoginDto

<h1>Hello,there will be your chats </h1>

<EditForm Model="LoginDto" OnSubmit="Test">
    <div class="container">
        <br/>
        <p>@result</p>
        <button class="btn btn-primary" type="submit">Ok</button>
    </div> 
</EditForm>

@code
{ 
    [Inject] ITestService _testService { get; set; }
    private string result { get; set; }
    protected  void  Test()
    {

         result = _testService.GetMessage();

    }
}
