@page "/chats"
@inject NavigationManager NavManager
@using BlazorChatApp.BLL.Responses
@using BlazorChatApp.BLL.MainRequestServices.Interfaces
@inject IRequestChatService RequestChatService
@inherits BaseComponent

<h1>Hello,there are your chats which you may enter! </h1>
@if (isLoaded==false)
{
    <div class="loader" style="position: center">
    </div> <p>Loading...</p>
}
<div class="container">
    <div class="align-content-xl-center">
        <form>
            @foreach (var chat in chats)
            {  
                <input type="hidden" id="userId" @bind-value="@chat.Id"/>
                <button type="submit" class="room-button" @onclick="() => JoinRoom(chat.Id)">@chat.ChatName</button>
            }
        </form>
    </div>
</div>

@code
{
    bool isLoaded = false;
    List<DAL.Domain.Entities.Chat>? chats = new List<DAL.Domain.Entities.Chat>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetAllChatsResponse isAllowedToGetChats = await RequestChatService.GetAllChats();
            CheckIfUserHasAccess(isAllowedToGetChats, async () => { chats = await isAllowedToGetChats.Chats; });
            isLoaded = true;
        }
        StateHasChanged();
    }

    protected async void JoinRoom(int chatId)
    {
        var isAllowedAccessToJoinChat = await RequestChatService.JoinRoom(chatId);

        CheckIfUserHasAccess(isAllowedAccessToJoinChat, async () => { NavManager.NavigateTo("/myChats", true);});
    }
}