@page "/chats"
@inject NavigationManager NavManager
@using BlazorChatApp.BLL.Responses
@using BlazorChatApp.BLL.MainRequestServices.Interfaces
@inject IRequestChatService RequestChatService
@inject IToastService ToastService
@inherits BaseComponent
<link href="_content/Blazored.Toast/blazored-toast.css" rel="stylesheet"/>
<link href="https://stackpath.bootstrap.com/font-awasome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<h1>Hello,there are your chats which you may enter! </h1>
@if (isLoaded==false)
{
    <div class="loader" style="position: center">
    </div> <p>Loading...</p>
}
<div class="container">
    <div class="align-content-xl-center">
        @foreach (var chat in chats)
            {  
                <input type="hidden" id="userId" @bind-value="@chat.Id"/>
                <button type="submit" class="room-button" @onclick="() => JoinRoom(chat.Id, chat.ChatName)">@chat.ChatName</button>

            }
    </div>
</div>

@code
{
    bool isLoaded = false;
    List<DAL.Domain.Entities.Chat>? chats = new List<DAL.Domain.Entities.Chat>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetAllChatsResponse isAllowedToGetChats = await RequestChatService.GetAllChats();
            CheckIfUserHasAccess(isAllowedToGetChats, async () => { chats = await isAllowedToGetChats.Chats; });
            isLoaded = true;
        }
        StateHasChanged();
    }

    protected async void JoinRoom(int chatId, string chatName)
    {
        var isAllowedAccessToJoinChat = await RequestChatService.JoinRoom(chatId);

        CheckIfUserHasAccess(isAllowedAccessToJoinChat, async () => {ToastService.ShowSuccess($"You're successfully joined the room {chatName}!");});
        StateHasChanged();
    }
}