@page "/chats"
@using Blazored.LocalStorage
@using BlazorChatApp.BLL.Contracts.DTOs
@inject ILocalStorageService StorageService
@inject LoginDto LoginDto

<h1>Hello,there will be your chats </h1>

<EditForm Model="LoginDto">
    <div class="container">
        <br/>
     
        <button class="btn btn-primary" type="submit">Ok</button>
    </div> 
</EditForm>

@code
{ 
  
    
}
