@page "/chats"
@inject NavigationManager NavManager
@using BlazorChatApp.BLL.Responses
@using BlazorChatApp.BLL.Infrastructure.Interfaces
@inject IRequestService RequestService
@inherits BaseComponent

<h1>Hello,there are your chats which you may enter! </h1>
<div class="container">
    <div class="align-content-xl-center">
        <form>
            @foreach (var chat in chats)
            {  
                <input type="hidden" id="userId" @bind-value="@chat.Id"/>
                <button type="submit" class="room-button">@chat.ChatName</button>
            }
        </form>
    </div>
</div>

@code
{
    List<DAL.Domain.Entities.Chat>? chats = new List<DAL.Domain.Entities.Chat>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetAllChatsResponse isAllowedToGetChats = await RequestService.GetAllChats();
            CheckIfUserHasAccess(isAllowedToGetChats, async () => { chats = await isAllowedToGetChats.Chats;});
        }
        StateHasChanged();
    }

}
