@page "/createPrivate"
@using BlazorChatApp.BLL.Infrastructure.Interfaces
@using BlazorChatApp.BLL.Responses
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavManager
@inject IRequestService RequestService
@inherits BaseComponent 

<h1>There you can start messaging in private chat with defined user!</h1>

<div class="container">
    <div class="align-content-xl-center">
        <form>
        @foreach (var user in users)
        {  
            <input type="hidden" id="userId" @bind-value="@user.Id"/>
            <button type="submit" class="room-button" @onclick="() => CreatePrivateChat(user.Id)">@user.UserName</button>
        }
        </form>
    </div>
</div>

@code
{
    List<IdentityUser> users = new List<IdentityUser>();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetAllUsersResponse getAllUsersResponse = await RequestService.GetAllUsersAsync();
            CheckIfUserHasAccess(getAllUsersResponse, async() => { users = await getAllUsersResponse.Users;});
            StateHasChanged();
        }
    }

    protected async void CreatePrivateChat(string userId)
    {
        CreateChatResponse isAllowedAccessToCreateChat =  await RequestService.CreatePrivateRoomAsync(userId);
        CheckIfUserHasAccess(isAllowedAccessToCreateChat, async () => NavManager.NavigateTo("/MyChats", true));
    }

}
    
