@page "/createRoom"
@using BlazorChatApp.BLL.MainRequestServices.Interfaces
@using BlazorChatApp.BLL.Responses
@inject IRequestChatService RequestChatService
@inject NavigationManager NavManager
@inherits BaseComponent
<h1>Creating new chat</h1>

<div class="container">
    <div class="input-group">
        <input class="input-group-text" @bind:event="oninput" @bind="chatName"/>
    </div>
    <button class="btn btn-outline-dark" type="submit" @onclick="CreateChat">
        Create new room
    </button>
</div>


@code
{
    private string chatName;
    private string notification = "";
    private async void CreateChat()
    {
        try
        {
            CreateChatResponse roomIsCreated = await RequestChatService.CreateRoomAsync(chatName);
            CheckIfUserHasAccess(roomIsCreated, async () => NavManager.NavigateTo("/MyChats"));
        }
        catch
        {
            notification = $"Failed to create room {chatName}!";
        }
    }
}
