@page "/createRoom"
@using BlazorChatApp.BLL.Infrastructure.Interfaces
@using Blazored.LocalStorage
@inject IRequestService RequestService
@inject NavigationManager NavManager
@inject ILocalStorageService StorageService
<h1>Creating new chat</h1>

<div class="container">
    <p>@notification</p>
    <input @bind:event="oninput" @bind="chatName"/>
    <br />
    <button class="btn btn-primary" type="submit" @onclick="CreateChat" >
        Create new room
    </button>
    </div>
@code
{
    private string chatName;
    private string notification = "";
    protected override async Task OnInitializedAsync()
    {
        if (!await StorageService.ContainKeyAsync("token"))
        {
            NavManager.NavigateTo("/login");
        }
    }

    private async void CreateChat()
    {
        try
        {
            var roomIsCreated = await RequestService.CreateRoomAsync(chatName);

            if (roomIsCreated)
            {   
                notification = $"Room {chatName} was successfully created!";

                
            }
            else
            {
                notification = $"Failed to create room {chatName}!";
              }
        }
        catch
        {
            notification = "Something went wrong!";

        }
    }

}
