@page "/login"
@using Microsoft.AspNetCore.Components
@using BlazorChatApp.BLL.Contracts.DTOs
@using BlazorChatApp.PL.Controllers
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@inject SignInManager<IdentityUser> Manager
@inject NavigationManager NavManager
@inject LoginDto LoginDto
@inject AccountController Controller
<h1>Enter to chat</h1>
<EditForm Model="LoginDto" OnSubmit="LoginAsync">
    <div class="container">
        <div class="message">
            <label for="login">Enter your username</label>
            <InputText id="login" class="message" @bind-Value="LoginDto.UserName"/>
        </div><br/>
        <div class="message">
            <label for="password">Enter your password</label>
            <InputText id="password" class="message" @bind-Value="LoginDto.Password" type="password"/>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">Login</button>
    </div> 
</EditForm>


@code
{
    private async Task LoginAsync()
    {
        try
        {
            if (LoginDto.UserName != null && LoginDto.Password!=null)
            {
                var response = await Controller.LoginAsync(LoginDto.UserName, LoginDto.Password);
                if(response.GetType() == typeof(OkObjectResult))
                {
                    NavManager.NavigateTo("/chats");
                }
                else
                {
                    NavManager.NavigateTo("/login");
                }
               
            }
            
        }
        catch
        {
            NavManager.NavigateTo("/login");
        }
        
    }
}
