@page "/myChats"
@using BlazorChatApp.BLL.Responses
@using BlazorChatApp.BLL.MainRequestServices.Interfaces
@inject NavigationManager NavManager
@inject IRequestChatService RequestChatService
@inherits BaseComponent

<h1>There are your chats!</h1>
@if (isLoaded==false)
{
    <div class="loader" style="position: center">
    </div> <p>Loading...</p>
}
else
{
    <div class="container">
        <div class="align-content-xl-center" >
            <form>
                @foreach (var chat in chats)
                {
                    <input type="hidden" id="chatId" @bind-value="@chat.Id"/>
                    <button type="submit" class="room-button" @onclick="() => NavigateToChat(chat.Id)">@chat.ChatName</button>
                }
            </form>
        </div>
    </div>
}
@code
{
    List<DAL.Domain.Entities.Chat>? chats = new List<DAL.Domain.Entities.Chat>();
    bool isLoaded = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            GetAllUserChatsResponse getAllChats = await RequestChatService.GetAllUserChats();
            CheckIfUserHasAccess(getAllChats, async() => chats = await getAllChats.Chats);
            isLoaded = true;
            StateHasChanged();
        }
    }

    private void NavigateToChat(int chatId)
    {
        NavManager.NavigateTo("/mainChatPage/"+ chatId, true);
    }
}