@page "/myChats"
@using BlazorChatApp.BLL.Responses
@using BlazorChatApp.BLL.Infrastructure.Interfaces
@inject NavigationManager NavManager
@inject IRequestService RequestService
@inherits BaseComponent
<div class="container">
    <div class="align-content-xl-center">
        <form>
            @foreach (var chat in chats)
            {  
               @* <input type="hidden" id="userId" @bind-value=""/>*@
                <button type="submit" class="room-button">@chat.ChatName</button>
            }
        </form>
    </div>
</div>

@code
{
    List<DAL.Domain.Entities.Chat>? chats = new List<DAL.Domain.Entities.Chat>();

    protected async Task OnAfterRenderAsync()
    {
        GetAllChatsResponse getAllChats = await RequestService.GetAllUserChats();
        CheckIfUserHasAccess(getAllChats, async()=> chats = await getAllChats.Chats);
    }
}