@page "/privateChats"
@using Blazored.LocalStorage
@inject ILocalStorageService StorageService
@inject NavigationManager NavManager
<h1>There will be your private chats</h1>

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (!await StorageService.ContainKeyAsync("token"))
        {
            NavManager.NavigateTo("/login");
        }
    }
}