@page "/register"
@using Microsoft.AspNetCore.Components
@using BlazorChatApp.BLL.Contracts.DTOs
@using BlazorChatApp.BLL.Infrastructure.Interfaces
@inject NavigationManager NavManager
@inject RegisterDto RegisterDto


<h1>Registration</h1>
<EditForm Model="RegisterDto" OnSubmit="RegisterAsync">
    <p>@notification</p>
    <div class="container">
        <div class="message">
            <label for="login">Enter your username</label>
            <InputText id="login" class="message" @bind-Value="RegisterDto.UserName"/>
        </div><br/>
        <div class="message">
            <label for="password">Enter your password</label>
            <InputText id="password" class="message" @bind-Value="RegisterDto.Password" type="password"/>
        </div><br/>
        <div class="message">
            <label for="confirmPassword">Enter your password again</label>
            <InputText id="confirmePassword" class="message" @bind-Value="RegisterDto.ConfirmPassword" type="password"/>
        </div><br/>
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</EditForm>


@code{

    [Inject] private IAuthService _service { get; set; }
    private string notification = "";
    private async Task RegisterAsync()
    {
        try

        {
            var response = await _service.RegisterAsync(RegisterDto.UserName, RegisterDto.Password, RegisterDto.ConfirmPassword);
            if (response == "Registration was successful!")
            {
                NavManager.NavigateTo("/login");
            }
            else
            {
                notification = "Registration failed!";
                NavManager.NavigateTo("/register");
            }
          
        }
        catch
        {
            NavManager.NavigateTo("/register");
        }
    }


}