@page "/video/{ChatId:int}"
@using BlazorChatApp.PL.Options
@inject IJSRuntime Js
<h1>Video conversation</h1>

<div>
    <canvas id="canvas" 
            style="background-color:lightgray;"
            width="@_options.Width"
            height="360">
    </canvas>
</div>
<div>
    <button @onclick="Start">Start</button>
</div>
<div>
    <video id="video" class="video"
           style="background-color: lightblue; visibility: hidden;"
           width="@_options.Width" autoplay="true">Video stream not available.
    </video>

</div>
@code{
    [Parameter]
    public int ChatId { get; set; }

    readonly WebCamOptions _options = new() 
    { 
        CanvasId = "canvas",
        VideoID = "video"
    };
    protected override void OnInitialized()
    {
        _options.Width = 480;
    }
    public async Task Start()
    {
        await Js.InvokeVoidAsync("WebCamFunctions.start", _options);
    }
}